.main {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    padding: 10px;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: relative;
    margin-top: auto;
}

.input-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    border-top: 1px solid gray;
}

input[type="text"] {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #f0f1f1;
    outline: none;
    appearance: none;
}