input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    appearance: none;
}

input[type="checkbox"]:checked {
    background-color: #4eb570;
    border: none;
}

.checkbox-div {
    margin: 0 10px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    align-items: center;
}

label {
    margin-left: 10px;
}

.delete {
    visibility: hidden;
}

.checkbox-div:hover .delete {
    visibility: visible;
    cursor: pointer;
    width: 30px;
    background-color: #4eb570;
    border: none;
    border-radius: 8px;
}